  <p><%= notice %>
  </p>
  <p><%= alert %>
  </p>
<div>
  <div>
    <h1>
      List of all goals
    </h1>
  </div>
</div>


<hr>

<div>
  <%if session.fetch(:user_id)%>
  <div>
    <h2>
      Add a new goal
    </h2>

    <form action="/insert_competition" method="post">
      <div>
        <label for="user_id_box">
          
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value = <%=session.fetch(:user_id)%>>
      </div>

      <div>
        <label for="goalprotein_box">
          Protein Goal
        </label>

        <input type="text" id="goalprotein_box" name="query_goalprotein">
      </div>

      <div>
        <label for="goal_box">
          Calories Goal 
        </label>

        <input type="text" id="goal_box" name="query_goal">
      </div>

      <button>
        Create goal
      </button>
    </form>
  </div>
  <%end%>
</div>

<hr>
<div>
  <div>
    <table border="1" class="table table-bordered">
      <tr>

        <th>
          User
        </th>

        <th>
          Protein Goal
        </th>

        <th>
          Calories Goal 
        </th>

        <th>
          Your Status
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @list_of_competitions.each do |a_competition| %>
      <tr>
      <% if a_competition.user_id == session.fetch(:user_id)%>
        <td>
          <%= a_competition.starter.username %>
        </td>

        <td>
          <%= a_competition.goalprotein %>
        </td>

        <td>
          <%= a_competition.goal %>
        </td>

        <td>
          <% if $calories > a_competition.goal.to_f %> 
          Accomplished Goal

          <% else %>
          Keep Going 
          <% end %>
        </td>
        <td>
          <a href="/competitions/<%= a_competition.id %>">
            Show details
          </a>
 
        </td>
                <%end%>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
