<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="/bootstrap.css">

  </head>

  <body>

  <table style="width: 100%; margin-bottom: 3em;" border="1">
      <tr>
                <td >
        <a href="/">
          Home
        </a>
      </td>
        <td >
        <a href="/foods">
          Foods
        </a>
        </td>
      
      
      <% if session.fetch(:user_id) %>
        
        <td >
          <a href="/users/<%=@current_user.id%>">
            My Profile
          </a>
        </td>
        <td >
        <a href="/competitions">
          My Goals
        </a>
      </td>
      <td >
          <a href="/users">
            Community (Beta)
          </a>
        </td>
        <td >
          <a href="/user_sign_out">
            Sign out
          </a>
        </td>
        
      <%else%>
              <td >
          <a href="/users">
            Community (Beta)
          </a>
        </td>
        <td >
          <a href="/user_sign_in">
            Sign in
          </a>
        </td>
        <td >
          <a href="/user_sign_up">
            Sign up
          </a>
        </td>
      <%end %>
          </div>
</table>


    <%= yield %>
  </body>
</html>
