<div>
  <div>
    <h1>
      List of all trackings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new tracking
    </h2>

    <form action="/insert_tracking" method="post">
      <div>
        <label for="food_id_box">
          Food
        </label>

        <input type="text" id="food_id_box" name="query_food_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create tracking
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Food
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trackings.each do |a_tracking| %>
      <tr>
        <td>
          <%= a_tracking.id %>
        </td>

        <td>
          <%= a_tracking.food_id %>
        </td>

        <td>
          <%= a_tracking.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_tracking.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_tracking.updated_at) %> ago
        </td>

        <td>
          <a href="/trackings/<%= a_tracking.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
