  <p><%= notice %>
  </p>
  <p><%= alert %>
  </p>
<div>
    <h1>
      My Food Log
    </h1>
</div>



<%if session.fetch(:user_id)%>



<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th></th>
        <th>
          Food
        </th>

        <th>
          Calories (g)
        </th>

        <th>
          Protein (g)
        </th>

        <th>
          Log time
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trackings.each do |a_tracking| %>
      <tr>

        <td></td>

        <td>
          <%= a_tracking.food.name %>
        </td>

        <td>
          <%= a_tracking.food.calories %>
        </td>

        <td>
          <%= a_tracking.food.protein %>
        </td>
        <td>
          <%= time_ago_in_words(a_tracking.created_at) %> ago
        </td>

        <td>
          <a href="/trackings/<%= a_tracking.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <%end%>
    <div>
    <h2>
      Add a new tracking
    </h2>

    <form action="/insert_tracking" method="post">
      <div>
        <label for="food_id_box">
          Select a food
        </label>

        <select id="food_id_box" name="query_food_id">
          <% Food.all.order({:name=>:asc}).each do |a_food| %>
            <option value=<%=a_food.id%> ><%=a_food.name%></option>
            
          <%end%>
        </select>
      </div>

      <div>

        <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">

      </div>

      <button>
        Create tracking
      </button>
    </form>
  </div>
</div>
</div>

<hr>
