<div>
  <div>
    <h1>
      Log details
    </h1>

    <div>
      <div>
        <a href="/trackings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_tracking/<%= @the_tracking.id %>">
          Delete log
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food
      </dt>
      <dd>
        <%= @the_tracking.food_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_tracking.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_tracking.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_tracking.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>

</div>

<hr>
